In [25]:
import tensorflow as tf
from tensorflow import keras
import pandas as pd
from sklearn.model_selection import train_test_split

In [26]:
train = pd.read_csv('./train.csv', sep=';')

In [27]:
def bmi(height, weight):
    return weight / (height^2)

In [28]:
train_cn = train.drop_duplicates()
train_cn['BMI'] = bmi(train_cn['HEIGHT'], train_cn['WEIGHT'])
train_cn = train_cn.drop(['HEIGHT', 'WEIGHT'], axis=1)

X = train_cn.drop('CARDIO_DISEASE', axis=1)
Y = train_cn['CARDIO_DISEASE']

/tmp/ipykernel_195007/1584197438.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_cn['BMI'] = bmi(train_cn['HEIGHT'], train_cn['WEIGHT'])

In [29]:
train_cn

,AGE,GENDER,AP_HIGH,AP_LOW,CHOLESTEROL,GLUCOSE,SMOKE,ALCOHOL,PHYSICAL_ACTIVITY,CARDIO_DISEASE,BMI
0,50,2,110,80,1,1,0,0,1,0,0.364706
1,55,1,140,90,3,1,0,0,1,1,0.537975
2,52,1,130,70,3,1,0,0,0,1,0.383234
3,48,2,150,100,1,1,0,0,1,1,0.479532
4,48,1,100,60,1,1,0,0,0,0,0.354430
...,...,...,...,...,...,...,...,...,...,...,...
68778,53,2,120,80,1,1,1,0,1,0,0.447059
68779,62,1,140,90,2,2,0,0,1,1,0.807692
68780,52,2,180,90,3,1,0,1,0,1,0.580110
68781,61,1,135,80,1,2,0,0,0,1,0.447205
68782,56,1,120,80,2,1,0,0,1,0,0.428571

# Below is a description of the features:

- AGE:  integer (years of age)
- BMI: float (bmi of person)
- GENDER: categorical (1: female, 2: male)
- AP_HIGH: systolic blood pressure, integer
- AP_LOW: diastolic blood pressure, integer 
- CHOLESTEROL: categorical (1: normal, 2: above normal, 3: well above normal)
- GLUCOSE: categorical (1: normal, 2: above normal, 3: well above normal)
- SMOKE: categorical (0: no, 1: yes)
- ALCOHOL: categorical (0: no, 1: yes)
- PHYSICAL_ACTIVITY: categorical (0: no, 1: yes)

# And the target variable:

- CARDIO_DISEASE:  categorical (0: no, 1: yes)

In [30]:
train_cn.loc[train_cn['CARDIO_DISEASE']==1]

,AGE,GENDER,AP_HIGH,AP_LOW,CHOLESTEROL,GLUCOSE,SMOKE,ALCOHOL,PHYSICAL_ACTIVITY,CARDIO_DISEASE,BMI
1,55,1,140,90,3,1,0,0,1,1,0.537975
2,52,1,130,70,3,1,0,0,0,1,0.383234
3,48,2,150,100,1,1,0,0,1,1,0.479532
7,62,2,130,90,3,3,0,0,1,1,0.539773
15,46,2,120,80,1,1,0,0,0,1,0.643678
...,...,...,...,...,...,...,...,...,...,...,...
68776,54,1,130,90,1,1,0,0,1,1,0.402299
68777,58,1,150,80,1,1,0,0,1,1,0.479042
68779,62,1,140,90,2,2,0,0,1,1,0.807692
68780,52,2,180,90,3,1,0,1,0,1,0.580110
68781,61,1,135,80,1,2,0,0,0,1,0.447205

# Below is a description of the features:

- AGE:  integer (years of age)
- HEIGHT: integer (cm) 
- WEIGHT: integer (kg)
- GENDER: categorical (1: female, 2: male)
- AP_HIGH: systolic blood pressure, integer
- AP_LOW: diastolic blood pressure, integer 
- CHOLESTEROL: categorical (1: normal, 2: above normal, 3: well above normal)
- GLUCOSE: categorical (1: normal, 2: above normal, 3: well above normal)
- SMOKE: categorical (0: no, 1: yes)
- ALCOHOL: categorical (0: no, 1: yes)
- PHYSICAL_ACTIVITY: categorical (0: no, 1: yes)

# And the target variable:

- CARDIO_DISEASE:  categorical (0: no, 1: yes)

In [31]:
X

,AGE,GENDER,AP_HIGH,AP_LOW,CHOLESTEROL,GLUCOSE,SMOKE,ALCOHOL,PHYSICAL_ACTIVITY,BMI
0,50,2,110,80,1,1,0,0,1,0.364706
1,55,1,140,90,3,1,0,0,1,0.537975
2,52,1,130,70,3,1,0,0,0,0.383234
3,48,2,150,100,1,1,0,0,1,0.479532
4,48,1,100,60,1,1,0,0,0,0.354430
...,...,...,...,...,...,...,...,...,...,...
68778,53,2,120,80,1,1,1,0,1,0.447059
68779,62,1,140,90,2,2,0,0,1,0.807692
68780,52,2,180,90,3,1,0,1,0,0.580110
68781,61,1,135,80,1,2,0,0,0,0.447205
68782,56,1,120,80,2,1,0,0,1,0.428571

In [32]:
l_p = len(train_cn.loc[train_cn['CARDIO_DISEASE'] == 1])
l_n = len(train_cn.loc[train_cn['CARDIO_DISEASE'] == 0])
w_0 = 1.0 / l_n
w_1 = 1.0 / l_p

In [33]:
l_p

33053

In [34]:
from keras import backend as K

def recall_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    recall = true_positives / (possible_positives + K.epsilon())
    return recall

def precision_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    return precision

def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

In [35]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y , test_size = 0.2)

model = keras.Sequential(
    [
        keras.Input(shape=(X_train.shape[1],)),
        keras.layers.BatchNormalization(),
        keras.layers.experimental.RandomFourierFeatures(
            output_dim=512, scale=10.0, kernel_initializer="gaussian"
        ),
        keras.layers.Dense(units=1, activation='sigmoid'),
    ]
)

model.compile(
    optimizer=keras.optimizers.Adam(1e-3), loss=keras.losses.hinge, metrics='accuracy'
)

model.fit(
    X_train,
    Y_train,
    batch_size=64,
    epochs=10,
    verbose=2,
    validation_data=(X_test, Y_test),
)

Epoch 1/10
813/813 - 2s - loss: 0.8111 - accuracy: 0.7083 - val_loss: 0.7819 - val_accuracy: 0.7173 - 2s/epoch - 2ms/step
Epoch 2/10
813/813 - 1s - loss: 0.7776 - accuracy: 0.7214 - val_loss: 0.7742 - val_accuracy: 0.7189 - 1s/epoch - 2ms/step
Epoch 3/10
813/813 - 1s - loss: 0.7742 - accuracy: 0.7210 - val_loss: 0.7715 - val_accuracy: 0.7190 - 1s/epoch - 2ms/step
Epoch 4/10
813/813 - 1s - loss: 0.7729 - accuracy: 0.7216 - val_loss: 0.7718 - val_accuracy: 0.7199 - 1s/epoch - 2ms/step
Epoch 5/10
813/813 - 1s - loss: 0.7720 - accuracy: 0.7222 - val_loss: 0.7719 - val_accuracy: 0.7197 - 1s/epoch - 2ms/step
Epoch 6/10
813/813 - 1s - loss: 0.7720 - accuracy: 0.7214 - val_loss: 0.7708 - val_accuracy: 0.7218 - 1s/epoch - 2ms/step
Epoch 7/10
813/813 - 1s - loss: 0.7718 - accuracy: 0.7215 - val_loss: 0.7693 - val_accuracy: 0.7205 - 1s/epoch - 2ms/step
Epoch 8/10
813/813 - 1s - loss: 0.7713 - accuracy: 0.7211 - val_loss: 0.7684 - val_accuracy: 0.7221 - 1s/epoch - 2ms/step
Epoch 9/10
813/813 - 1s - loss: 0.7710 - accuracy: 0.7220 - val_loss: 0.7710 - val_accuracy: 0.7195 - 1s/epoch - 2ms/step
Epoch 10/10
813/813 - 1s - loss: 0.7709 - accuracy: 0.7221 - val_loss: 0.7695 - val_accuracy: 0.7205 - 1s/epoch - 2ms/step

In [36]:
model.save('model')

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: model/assets

INFO:tensorflow:Assets written to: model/assets